@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div class="main-layout">
    @Body
</div>

<style>
    .main-layout {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
</style>
